@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antonio:wght@100&display=swap');


.coin-search {
  text-align: center;
  margin: auto;
  
  

}

.coin-input {
  color: #272838;
  font-family: 'Abril Fatface', cursive;
  height: 2em;
  margin-bottom: 1em;
  border-radius: 3em;
  
}

