@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antonio:wght@100&display=swap');


.coin-search {
  text-align: center;
  margin: auto;
  
  

}

.coin-input {
  color: #2F0601;
  font-family: 'Antonio', sans-serif;
  height: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 3em;
}

