@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antonio:wght@100&display=swap');


.coin-container {
   display: flex;
   justify-content: center;
}
.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 3em;
    border-bottom: .2em solid #63CCCA;
    width: 50em;
    font-family: 'Antonio', sans-serif;
    font-weight: 1000;
    color:#35393C;
    background-color: #42858C;
    border-radius: 5px;
    margin-bottom: .5em;
    box-shadow: .3em 0em .5em rgb(64, 124, 255)
    
}

.coin {
    display: flex;
    align-items: center;
    min-width: 15em;
    
}

.coin h1 {
    font-size: 16px;
    width: 150px;

}

.coin img {
    height: 2em;
    width: 2em;
    margin-right: .5em;
    margin-left: .5em;
}
.coin-symbol {
    text-transform: uppercase;
}
.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    
}

.coin-price {
    width: 1em;
}

.coin-volume {
    width: 1em;
    margin-right: 3em;
    
}



